@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Lobster");
@import url("https://fonts.googleapis.com/css?family=Montserrat:400,700,700i,800,900&subset=latin-ext");
@import url("https://fonts.googleapis.com/css?family=Roboto+Slab");
@import url("../fonts/DroidSerif-Regular.ttf");
@import url("../fonts/wisdom.ttf");
@font-face {
  font-family: 'Conv_Wisdom Script AJ';
  src: url("fonts/Wisdom Script AJ.eot");
  src: local("☺"), url("fonts/Wisdom Script AJ.svg") format("svg"), url("fonts/Wisdom Script AJ.ttf") format("truetype"), url("fonts/Wisdom Script AJ.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

/*
 === BODY AND CONTAINER ===
*/
body {
  margin: 0 auto;
  background-color: #fff;
  padding: 0;
}

h1 {
  font-size: 40px;
  line-height: 75px;
  font-weight: 700;
  color: #313234;
  font-family: "Montserrat", sans-serif;
}

h3 {
  font-size: 18px;
  letter-spacing: 0px;
  font-weight: 700;
  color: #313234;
  font-family: "Montserrat", sans-serif;
}

p {
  font-family: #777777;
  font-family: "Droid", Serif;
  font-weight: 400;
}

.container {
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
  padding: 0;
}

.container-fluid {
  padding: 0;
}

/*
 === HEADER ===
*/
.navbar {
  margin-right: 10%;
  font-family: "Montserrat", sans-serif;
}

.navbar a:hover {
  color: #fed136;
}

nav ul {
  margin: 5px;
  padding: 20px;
  float: right;
}

nav a {
  display: inline-block;
  padding: 15px 20px;
  text-align: center;
  text-decoration: none;
  color: #fff;
  cursor: pointer;
  text-transform: uppercase;
  margin: 0 auto;
}

.logo {
  display: inline-block;
  margin-left: 15%;
  margin-top: 1%;
  font-size: 28px;
  color: #fed136;
  font-family: "Lobster", cursive;
  font-style: italic;
}

li {
  display: inline-block;
  text-align: center;
}

.jumbotron {
  height: 800px;
  background-image: url("../images/jb.jpg");
  background-size: cover;
  margin-bottom: 100px;
}

.hero h2 {
  font-size: 40px;
  color: #fff;
  font-family: "Droid", Serif;
  font-weight: 400;
  font-style: italic;
  text-align: center;
  margin-top: 150px;
}

.hero .h1 {
  font-weight: 700;
  color: #fff;
  padding: 30px;
  font-family: "Montserrat", sans-serif;
  font-size: 75px;
  letter-spacing: -2px;
}

/*button {
  @include button(240px, 65px, 6px, $yellow, 700, #fff, $font-family-mon, 18px); 
} */
.btn {
  width: 200px;
  height: 65px;
  border-radius: 6px;
  background-color: #fed136;
  font-weight: bold;
  color: #fff;
}

/*
 === SERVICES ===
*/
.heading h1 {
  margin-top: 50px;
}

.heading p {
  font-size: 16px;
  font-weight: 400;
  font-style: italic;
}

.icons {
  margin: 0 auto;
  text-align: center;
  padding: 50px;
  border: 1px solid red;
}

.icons p {
  font-style: normal;
}

.fa {
  height: 80px;
  width: 80px;
  background-size: cover;
  line-height: 100px;
  margin: 0 auto;
  text-align: center;
}

.basket {
  background-image: url("../images/icon.basket.jpg");
}

.laptop {
  background-image: url("../images/icon.laptop.jpg");
}

.web {
  background-image: url("../images/icon.web.jpg");
}

.background-2, .background-1, .background-3 {
  margin-top: 30px;
  text-align: center;
  border: 1px solid red;
}

.icons p {
  margin: 0 auto;
  font-size: 14px;
  font-weight: 400;
  margin-bottom: 50px;
  max-width: 250px;
  text-align: center;
  font-style: italic;
}

.icons p h3 {
  font-size: 18px;
  font-weight: 700;
}

/*
 === OUR PORTFOLIO ===
*/
.portfolio {
  background-color: #f7f7f7;
}

.portfolio h1 {
  margin-top: 80px;
}

.portfolio p {
  font-size: 16px;
  font-weight: 400;
  font-style: italic;
  padding: 0;
  margin-bottom: 50px;
}

.gallery {
  background-color: #f7f7f7;
}

.gallery h3 {
  padding-top: 20px;
  font-size: 18px;
  font-weight: 700;
}

.gallery p {
  font-size: 14px;
  font-weight: 400;
  font-style: italic;
}

.image-1, .image-2, .image-3, .image-4, .image-5, .image-6 {
  width: 290px;
  height: 300px;
  text-align: center;
  padding: 0;
}

.top-left, .top-middle, .top-right, .bottom-left, .bottom-middle, .bottom-right {
  width: 290px;
  height: 393px;
  background-color: #fff;
  margin: 25px auto;
  text-align: center;
  padding: 0;
}

.a {
  padding: 10px;
  width: 230px;
}

.image-1 {
  background-image: url("../images/top.left.jpg");
}

.image-2 {
  background-image: url("../images/top.middle.jpg");
}

.image-3 {
  background-image: url("../images/top.right.jpg");
}

.image-4 {
  background-image: url("../images/bottom.left.jpg");
}

.image-5 {
  background-image: url("../images/bottom.middle.jpg");
}

.image-6 {
  background-image: url("../images/bottom.right.jpg");
}

.bottom-right {
  margin-bottom: 100px;
}

/*
 === ABOUT US ===  border: 1px solid red;
*/
.about h1 {
  margin-top: 100px;
}

.about p {
  margin-bottom: 100px;
}

.vertical-line {
  border-left: 4px solid #f1f1f1;
  position: absolute;
  display: block;
  float: right;
  height: 1250px;
  left: 50%;
  margin-left: -2px;
}

.description-left, .description-right {
  padding: 0 0px;
}

.description-left h3, .description-right h3 {
  font-size: 18px;
  letter-spacing: 0px;
  font-family: "Montserrat";
  font-weight: 700;
  margin-top: 10px;
  padding: 0 30px;
}

.description-left p, .description-right p {
  font-size: 14px;
  letter-spacing: 0px;
  color: #777777;
  font-family: "Roboto Slab";
  font-weight: 400;
  padding: 0 30px;
}

.line {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.c-1, .c-3, .c-2 {
  height: 190px;
}

.c-4 {
  -ms-flex: 1;
      flex: 1;
  height: 0;
}

.c-1, .c-3 {
  -ms-flex: 2;
      flex: 2;
}

.c-2 {
  width: 190px;
  margin-bottom: 100px;
  background-repeat: no-repeat;
}

.img-1 {
  background-image: url("../images/1.line.jpg");
}

.img-2 {
  background-image: url("../images/2.line.jpg");
}

.img-3 {
  background-image: url("../images/3.line.jpg");
}

.img-4 {
  background-image: url("../images/4.line.jpg");
}

.img-5 {
  background-image: url("../images/5.line.jpg");
}

.v-line {
  z-index: -1;
  position: relative;
}

.team {
  background-color: #f7f7f7;
}

.members h3 {
  padding-top: 20px;
}

.background-15, .background-16, .background-17 {
  min-width: 300px;
  margin: 0 auto;
}

.background-15 h3, .background-16 h3, .background-17 h3 {
  text-align: center;
  color: #888282;
}

.member-1, .member-2, .member-3 {
  height: 250px;
  width: 250px;
  background-size: cover;
  background-position: center center;
  text-align: center;
  margin: 0 auto;
}

.member-1 {
  background-image: url("../images/left.team.jpg");
}

.member-2 {
  background-image: url("../images/middle.team.jpg");
}

.member-3 {
  background-image: url("../images/right.team.jpg");
}

.fa-2x {
  width: 45px;
  height: 45px;
  line-height: 40px;
  margin: 0 5px;
  text-align: center;
  cursor: pointer;
  border-radius: 50%;
  border: 3.5px solid #313234;
  transition: all 0.5s ease;
  padding-right: 0px;
  font-size: 26px;
  margin-bottom: 50px;
}

.tweeter {
  background-image: url("../images/twee.jpg");
}

.bottom-description {
  padding: 0 50px;
}

@media (min-width: 1400px) {
  .container {
    width: 100%;
    max-width: 1400px;
    padding: 0;
  }
}

@media (max-width: 367px) {
  .vertical-line {
    display: none;
  }
}

.columns {
  border: 1px solid red;
  margin-bottom: 100px;
  background-repeat: no-repeat;
  height: 189px;
  background-position: cover;
  margin: 0 auto;
}

/*
 === ABOUT US ===  border: 1px solid red;
 display: flex;
  justify-content: center;
  min-height: 200px;

.about {
  h1 {
    margin-top: 100px;
  }
  p {
    margin-bottom: 100px;
  }
}
  
.first, .first-middle, .first-left, .first-right {
height: 185px;
border: 1px solid red;
}

.first-left {
  padding-right: 40px;
  h3 {
  font-size: 18px;
  letter-spacing: 0px;
  font-family: "Montserrat";
  font-weight: 700;
  line-height: 0.6;
  height: 20px;
  line-height: 12px;
  margin-top: 0;
  display: flex;
  justify-content: flex-end;
  }
  p {
  font-size: 14px;
  letter-spacing: 0px;
  color: #777777;
  font-family: "Roboto Slab";
  font-weight: 400;
  }
}





.first-middle {

  padding: 0;

}

.img-1 {
  width: 190px;
  height: 189px;
  background-image: url('../images/1.line.jpg');
  background-position: cover;
  background-repeat: no-repeat;

  margin: 0 auto;
}

//.line {
// width:100px;
//  display: flex;
//  justify-content: center;
//border: 1px solid red;
//}
.position {
  position: relative;
}

.vertical-line {

//height: 100px;
//border-right: 3px solid #f1f1f1;
//border: 1px solid red;
border-left: 4px solid #f1f1f1;
  height: 500px;
  position: absolute;
  display: block;
  left: 50%;
  margin-left: -2px;
  top: 0;
  z-indeks: -1;
}




@media(min-width: 1400px) {
  .container {
  width: 100%;
  max-width: 1400px;

  padding: 0;
  }

}
//@media(max-width: 1100px) {
//  .vertical-line {
//
//display: none;
//}
//}
/*
.line {
  width: 100px;
  display: flex;
  justify-content: center;
border: 1px solid red;


.vl {
margin-top: 50px;
  border-left: 6px solid green;
  height: 500px;
  position: absolute;
  left: 50%;
  margin-left: -3px;
  top: 0;
}


















height: 100px;
  border-left: 3px solid #f1f1f1;
/*
 === TEAM ===
*/
/*
.team {
  max-width: 1220px;
  margin: 0 auto;
  text-align: center;
}

.background-15, .background-16, .background-17, .background-18 {
  height: 320px;
  margin: 0 auto;
  text-align: center;
  padding-top: 50px;
}

.background-15 h3, .background-16 h3, .background-17 h3, .background-18 h3 {
  text-align: center;
  color: #888282;
}

.member-1, .member-2, .member-3, .member-4 {
  height: 180px;
  width: 180px;
  line-height: 180px;
  border-radius: 50%;
  background-image: url('https://iping.in/wp-content/uploads/2018/05/user-avatar-4.png');
  background-size: cover;
  background-position: center center;
  text-align: center;
  margin: 0 auto;
}

.member-2 {
  background-image: url('https://daks2k3a4ib2z.cloudfront.net/56a0a2a2c2d4186d5bd8879c/56a0a2a2c2d4186d5bd887d6_profile_kristin.jpg');
}

.member-3 {
  background-image: url('http://www.enggonary.com/wp-content/uploads/2017/12/team-member-2.jpg');
}

.member-4 {
  background-image: url('https://www.insplorion.com/app/uploads/patrik_b-1.png');
}

/*
 === PARTNERS ===
*/
/*
 === CONTACT US ===
*/
/*
 === FOOTER ===
*/
/*
@media (max-width: 367px) {
  nav ul {
    display: block;
    float: none;
    text-align: center;
  }
}

@media (max-width: 768px) {
  nav ul {
    display: block;
    float: none;
    margin: 0 auto;
    text-align: center;
  }
}

.break, nav ul li {
    display: block;
  }

  .background-1 {
  margin-left: 0;
}
  .background-2, .background-1, .background-3 {
    display: inline;
    float: none;
    text-align: center;
  }
  .icons p {
    padding: 10px 60px;
  }
  .icons {
    text-align: center;
    margin: 0 auto;
  }
 
  
  .fa-camera-retro, .fa-search {
    transform: translate(0px, 70px);
    opacity: 0.6;
  }
  .section-1, .section-2 {
    display: block;
    width: 100%;
    text-align: center;
    margin-top: 20px;
    background-position: center center;
  }
  .section-2 .column-1 {
    text-align: right;
    padding-bottom: 30px;
  }
  .section-2 .column-2 {
    text-align: left;
  }
  .part-1, .part-2, .part-3, .footer h2, .footer p {
    text-align: center;
    display: block;
    padding-bottom: 10px;
  }  */
/*# sourceMappingURL=style.css.map */